version: '3'

services:
  clinic_api:
    build:
      dockerfile: Dockerfile.dev
      context: ./server
    volumes:
      - /app/node_modules
      - ./server:/app
    ports:
      - '3000:3000'
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASS=secretredispassword
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
      - PG_HOST=postgres
      - PG_DB_NAME=postgres
      - PG_PORT=5432
      - SESS_SECRET=hushhush
    depends_on:
      - postgres
      - redis
  postgres:
    image: postgres:latest
    ports:
      - '5432:5432'
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
    command: ['--requirepass "secretredispassword"']
volumes:
  pgdata:
